//=========================================
// HELVITICA NEUE REGULAR
//=========================================
@font-face {
    font-family: "HelveticaNeue";
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-webfont.woff') format('woff'), url('../fonts/helveticaneue-webfont.ttf') format('truetype'), url('../fonts/helveticaneue-webfont.svg#helveticaneue-webfont') format('svg');
    font-style: normal;
    font-weight: normal;
}


//=========================================
// HELVITICA NEUE BOLD
//=========================================
@font-face {
    font-family: "HelveticaNeueBold";
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-style: normal;
    font-weight: normal;
}
